<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GodotLocal" value="E:\unity\project\My project\Tools\Godot_v4.6.3-stable_mono_win64\GodotSharp\Tools\nupkgs" />
    <add key="NuGetOrg" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
